<!-- TODO: list and/or calendar view options? -->
<!-- TODO: export to google calendar -->

<% if @my_requested_appointments.any? %>
    <h2>STUDENT</h2>

    <h5>My appointment requests</h5>

    <ul>
        <% @my_requested_appointments.each do |appt| %>
            <li>
                <!-- TODO: don't show username on own dashboard -->
                <span><%= appt.city %> @ <%= appt.desired_for %> by <%= appt.user.username %></span>
                <br>
                <span><%= appt.notes %></span>
                <%= link_to("Destroy", appointment_request_path(appt), method: :delete) %>
                <hr>
            </li>
        <% end %>
    </ul>
<% end %>

<% if @my_offered_appointments.any? ||
    @my_fulfilled_appointments.any? ||
    @my_completed_appointments.any? %>
    <h2>MENTOR</h2>

    <% if @my_offered_appointments.any? %>
        <h5>My available appointments</h5>

        <ul>
            <% @my_offered_appointments.each do |appt| %>
                <li>
                    <!-- TODO: don't show username on own dashboard -->
                    <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
                    <br>
                    <span><%= appt.notes %></span>
                    <%= link_to("Destroy", appointment_path(appt), method: :delete) %>
                    <hr>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @my_fulfilled_appointments.any? %>
        <h5>My fulfilled appointments</h5>

        <ul>
            <% @my_fulfilled_appointments.each do |appt| %>
                <li>
                    <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
                    <br>
                    <span><%= appt.notes %></span>
                    <%= link_to("Destroy", appointment_path(appt), method: :delete) %>
                    <hr>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @my_completed_appointments.any? %>
        <h5>My completed appointments</h5>

        <ul>
            <% @my_completed_appointments.each do |appt| %>
                <li>
                    <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
                    <br>
                    <span><%= appt.notes %></span>
                    <%= link_to("Destroy", appointment_path(appt), method: :delete) %>
                    <hr>
                </li>
            <% end %>
        </ul>
    <% end %>
<% else %>
    You should schedule some shit!
<% end %>

<!-- TODO: MY APPOINTMENTS -->
<!-- TODO: list of available appointments that students have accepted -->
<!-- TODO: list of available appointments that students have NOT accepted -->
<!-- TODO: list of recently-completed appointments -->

<!-- TODO: RANDOM APPOINTMENTS -->
<!-- TODO: list of appointment requests that students have made -->