<h2>DASHBOARD</h2>

<h5>My available appointments</h5>

<ul>
    <% @my_available_appointments.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %></span>
            <br>
            <span><%= appt.notes %></span>
        </li>
    <% end %>
</ul>

<h5>My fulfilled appointments</h5>

<ul>
    <% @my_fulfilled_appointments.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %></span>
            <br>
            <span><%= appt.notes %></span>
        </li>
    <% end %>
</ul>

<h5>My completed appointments</h5>

<ul>
    <% @my_completed_appointments.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %></span>
            <br>
            <span><%= appt.notes %></span>
        </li>
    <% end %>
</ul>

<h5>Available appointments</h5>

<ul>
    <% @all_available_appointments.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %></span>
            <br>
            <span><%= appt.notes %></span>
        </li>
    <% end %>
</ul>

<!-- TODO: MY APPOINTMENTS -->
<!-- TODO: list of available appointments that students have accepted -->
<!-- TODO: list of available appointments that students have NOT accepted -->
<!-- TODO: list of recently-completed appointments -->

<!-- TODO: RANDOM APPOINTMENTS -->
<!-- TODO: list of appointment requests that students have made -->