<div class="debug">
    <%= link_to "home", root_path %>

    <% if logged_in? %>
        <%= link_to "my dashboard", dashboard_path %>

        <%= link_to "offer to mentor", new_appointment_path %>

        <%= link_to "edit my info", update_path %>

        <%= link_to "log out", logout_path, :method => :delete %>
    <% else %>
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "Log in" %>
        <% end %>

        <%= link_to "register", register_path %>
    <% end %>
</div>