<!-- TODO: show form for creating new appointment request -->
<!-- TODO: don't see your city? change your profile settings -->

<% @page_title = "Request a Mentor" %>

<%= render "shared/validation" %>

<div>
    <h1>Request a Mentor</h1>

    <%= form_for @appointment do |f| %>
        <%= f.hidden_field :user_type, value: 'student' %>
        <%= f.select(:city, options_for_select(
            [
                ['San Francisco', 'san francisco'],
                ['Chicago', 'chicago'],
                ['New York City', 'new york city']
            ], 1)) %>
        <p> Date and time:</br> <%= f.text_field :scheduled_for, value: '2015-02-14T02:45:32' %> </p>
        <p> Notes:</br> <%= f.text_field :notes, value: 'HERE IS A FUCKIN FAKE NOTE' %></p>
        <%= f.submit %>
    <% end %>
</div>

<h5>All available appointments</h5>

<ul>
    <% @all_available_appointments.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
            <br>
            <span><%= appt.notes %></span>
            <%= link_to("Accept mentoring offer", fulfill_offer_appointment_path(appt), method: :patch) %>
            <hr>
        </li>
    <% end %>
</ul>