<!-- TODO: don't see your city? change your profile settings -->

<% @page_title = "Offer to Mentor" %>

<%= render "shared/validation" %>

<div>
    <h1>Offer to Mentor</h1>

    <%= form_for @appointment do |f| %>
        <%= f.hidden_field :user_type, value: 'mentor' %>
        <%= f.select(:city, options_for_select(
            [
                ['San Francisco', 'san francisco'],
                ['Chicago', 'chicago'],
                ['New York City', 'new york city']
            ], 1)) %>
        <p> Date and time:</br> <%= f.text_field :scheduled_for, value: '2015-02-14T02:45:32' %> </p>
        <p> Notes:</br> <%= f.text_field :notes, value: 'HERE IS A FUCKIN FAKE NOTE' %></p>
        <%= f.submit %>
    <% end %>
</div>

<!-- TOOD: show list of all students' appointment requests -->

<h5>All existing appointment requests</h5>

<ul>
    <% @all_appointment_requests.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
            <br>
            <span><%= appt.notes %></span>
            <%= link_to("Accept mentoring request", fulfill_request_appointment_path(appt), method: :patch) %>
            <hr>
        </li>
    <% end %>
</ul>