<!-- TODO: don't see your city? change your profile settings -->

<% @page_title = "Offer to Mentor" %>

<%= render "shared/validation" %>

<div>
    <h1>Offer to Mentor</h1>

    <%= form_for @appointment do |f| %>
        <%= f.select(:city, options_for_select(
            [
                ['San Francisco', 'San Francisco'],
                ['Chicago', 'Chicago'],
                ['New York City', 'New York City']
            ], 1)) %>
        <p> Date and time:</br> <%= f.text_field :scheduled_for %> </p>
        <p> Notes:</br> <%= f.text_field :notes %></p>
        <%= f.submit %>
    <% end %>
</div>

<!-- TOOD: show list of all students' appointment requests -->

<h5>All existing appointment requests</h5>

<ul>
    <% @all_appointment_requests.each do |appt| %>
        <li>
            <span><%= appt.city %> @ <%= appt.scheduled_for %> by <%= appt.user.username %></span>
            <br>
            <span><%= appt.notes %></span>
            <hr>
        </li>
    <% end %>
</ul>